.app-container {
  background-color: black;
  background-image: (
    45deg,
    black,
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.centered-image {
  width: 700px;
  height: 500px;
  object-fit: fill;
}

.hint-container{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.white-border {
  border: 10px solid white;
  border-radius: 10px;
}


@media only screen and (max-width: 767px) {
  body {
      margin: 0;
      padding: 0;
  }
  .app-container {
    background-color: black;
    background-image: (
    45deg,
    black,
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
    
}
